.form {
  background: white;
  display: flex;
  border-radius: 10px;
  width: 53em;
  height: 55em;
  color: black;
  align-self: center;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  padding: 2em;
}

.formWrapper {
  width: 100%;
  position: relative;
}

.typeSelect {
  position: absolute !important;
  right: 27px;
}

.saveButton {
  width: 10em;
  margin-top: 2em;
  align-self: center;
}

.configForm {
  margin-top: 2em !important;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 1em;
}